* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;
  /* padding: 10px 40px */
}

/* .heading {
  opacity: 0;
}

.starContainer {
  opacity: 0;
} */

.pink_ghost {
  /* position: absolute;
  bottom: 26px;
  left: 37px;
  width: 70px;
  top: 30px;
  left: 30px;
  width: 60px;
  z-index: 1;
  transform: rotateX(180deg); */
}

.red_ghost {
  position: absolute;
  top: 30%;
  right: -20px;
  width: 50px;
}

.blue_crying_ghost {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
}

.gallery {
  display: flex;
  gap: 20px
}


.pretty-scrollbar {
  overflow-y: scroll;
}

.pretty-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
  border-radius: 8px;
}

.pretty-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  background: #6542f1;
  border-radius: 8px;
}

/* backgroundColor: '#fefbeb',
borderRadius: '16px',
padding: '30px 30px 30px 30px',
margin: '30px 30px 30px 30px',
width: 'fit-content',
height: 'fit-content', */

.job-card {
  background-color: #fefbeb;
  border-radius: 16px;
  padding: 30px 30px 30px 30px;
  margin: 30px 30px 30px 30px;
  width: fit-content;
  height: fit-content;
}

.job-card:hover {
  background-color: #ffefd5;
}

/* display: 'none',
marginTop: "30px",
borderRadius: '32px',
backgroundColor: 'black',
fontFamily: 'catamaran',
fontWeight: 500,
fontSize: '12px',
color: 'white',
padding: '12px 20px' */

.detailButton {
  display: none;
  margin-top: 30px;
  border-radius: 32px;
  background-color: black;
  font-family: catamaran;
  font-size: 12px;
  font-weight: 600;
  color: white;
  padding: 12px 20px;
  width: fit-content;
}

.job-card:hover .detailButton {
  display: block;
}